body{background:url('../img/daniele-fantin-AMHN7vluqOI-unsplash.jpg')no-repeat;
    background-size: cover;
    background-position: center;
    opacity: initial;
    height: 100%;
    
}

html{
    height: 100%;
}

nav{
    font-family: Tahoma, sans-serif, serif;
    font-weight: bold;
}

nav :hover{
    color:crimson;
}

#log{
    
    padding: 60px 40px;
    margin-top: 90px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.8);
    border-radius: 20px;
    outline: none;
    border: none;
}
   
img{
    width: 150px;
    margin: auto;
}

h1{
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: 'ubuntu', Tahoma, sans-serif;
    margin-top: -20px;
    
}

label{
    font-size: 13px;
    font-family: 'ubuntu', tahoma, sans-serif;
    color: white;
    
}

.btn{
    background-color: #D2691E;
    border-color: #D2691E;
    font-family: 'ubuntu', tahoma, sans-serif;
    font-weight: bold;
    color: white;
    
}

.forgot a{
    text-decoration: none;
    font-size: 14px;
    color: white;
    
}

p{
    color: white;
    font-family: 'ubuntu', tahoma, sans-serif;
    text-align: center;
}

:-ms-input-placeholder{
    font-family: 'ubuntu';
}

.form-control{
    border-radius: 10px;
}

a.dont{
    color: white;
    text-decoration: none;
}

